@font-face {
    font-family: OpenSans-Regular;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}
html {
    height: 100%;
    display: table;
    margin: auto;
    font-family: OpenSans-Regular;
}
body {
    background-color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    user-select: none;
    transition: all 1s;
}
a {
    width: 10%;
    min-width: 30px;
    max-width: 100px;
    cursor: pointer;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title {
    padding: 40px 0 40px 0;
    width: 75%;
    max-width: 1200px;
}
.buttons {
    width: 75%;
    max-width: 900px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}
.icon {
    width: 100%;
}
.icon:hover + body {
    background-color: blue;
    filter: invert(0.5);
}
#tooltip {
    color: white;
    display: none;
    position: fixed;
    transform: translate(0, -30px);
    opacity: 1;
    animation: fade 1s linear;
}
@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}