html {
    height: 100%;
    display: table;
    margin: auto;
}
body {
    background-color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title {
    padding: 40px 0 40px 0;
    width: 75%;
    max-width: 1200px;
}
.buttons {
    width: 75%;
    max-width: 1200px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.icon {
    width: 10%;
    max-width: 100px;
    padding: 0 25px 0 25px;
}